.cYgWVI {
  background-color: rgb(94, 0, 0);
  color: rgb(236, 252, 246);
  font-size: 1.5em;
}
.kaPjvb {
  background-color: rgb(94, 0, 0);
}
.bdUBmV {
  background-color: rgb(36, 36, 36);
  font-size: 1em;
  color: rgb(236, 252, 246);
}
.rdt_TableCell {
  background-color: rgb(36, 36, 36);
}
