.loading-image {
    width: 80px;
    height: 80px;
    margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 80%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }