.dropdown-menu.show{
    background-color: rgb(236, 252, 246)!important;
}
.dropdown-item{
    background-color: rgb(236, 252, 246)!important;
}
.dropdown-item:hover{
    cursor: pointer;
    background-color: rgb(219, 253, 240)!important;
}
