.navbar {
  background-color: rgb(36, 36, 36);
}
.brand {
  font-family: "Sedgwick Ave", cursive;
  font-size: 1.7em;
  color: rgb(236, 252, 246);
}
.navbar-collapse {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos hijos a la derecha */
  color: rgb(236, 252, 246);
}
.collapsed {
  color: rgb(236, 252, 246);
}
 .navbar-toggler {
  background-color: rgb(236, 252, 246);
  color: rgb(36, 36, 36);
} 

/* .navbar-toggler:hover{
  background-color:rgb(36, 36, 36);
  color:rgb(236, 252, 246) !important;
}  */
