body {
  background-color: rgb(255, 255, 255);
}
#root {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}
div {
  border: 1px solid red;
}

h1{
  font-family: "Sedgwick Ave", cursive;
}