body {
  background-color: rgb(255, 255, 255);
  /* background-image: url("../src/assets/279866-P621EW-730.png"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
#root {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}
div {
  border: 1px solid red;
}

h1{
  font-family: "Sedgwick Ave", cursive;
}