.card-prof {
  width: 45em;
}
.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.img-container {
  background-color: rgb(36, 36, 36);
  background-image: radial-gradient(
    circle,
    #ff000098 1%,
    transparent 1%
  ); /* Degradado de puntos rojos */
  background-size: 10px 10px; /* Tamaño de los puntos */
}
